<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Manjaros - Menu</title>
</head>
<div class="header">
<img src="../static/images/manjarosemblem.png" th:src="@{/images/manjarosemblem.png}" alt="emblem" class="responsive" style="width:100px;height:100px;" th:align="left"/>
    <h1 class="menu" align="center"> Menu </h1>
</div>
<body>
<header class= "banner">
    <main>
        <nav>
        <ul>
            <li><a href="About.html" th:href="@{/}">Home</a></li>
            <li><a href="Menu.html" th:href="@{/Menu}">Menu</a></li>
            <li><a href="Contact-Us.html" th:href="@{/Contact-Us}">Contact-Us</a></li>
            <li><a href="feedback.html" th:href="@{/feedback}">Reviews</a></li>
            <li><a href="Profile.html" th:href="@{/profile}">Profile</a></li>
        </ul>
    </nav>
    </main>
</header>

<h2>
   STARTERS
</h2>
<div>
    <p>
        <span>Garlic Bread</span>
    </p>
</div>

<div>
    <p class="price">
        £2.00
    </p>
</div>

<div>

    <p class = description>
        <span>Toasted Nachos</span>
    </p>
    <p>
        Topped with zingy jalapeños,
        melted mozzarella cheese and fresh tomato salsa.
    </p>
</div>

<div>
    <p class="price">
        £3.50
    </p>
</div>

<div>

    <p>
        <span>Chicken Wings</span>
    </p>
    <p class = description>
        Succulent grilled chicken wings marinated in Manjaros sauce.
        Served with salad. (4 pcs)
    </p>
</div>
<img src="../static/images/wingsmanj.jpg" th:src="@{/images/wingsmanj.jpg}" alt="emblem" class="wings" style="width:150px;height:150px;"/>

<div>
    <p class="price">
        £3.99
    </p>
</div>

<div>

    <p>
        <span>Caribbean King Prawns</span>
    </p>
    <p class="description">
       Caribbean King Prawns sauted in lemon butter, chilli and garlic.
        Served with pilau rice and garnished with fresh coriander. (3 pcs)
    </p>
</div>

<div>
    <p class="price">
        £4.99
    </p>
</div>


<h2>
    SALADS
</h2>
<div>

    <p>
        <span>Waka Waka Salad </span>
    </p>
    <p class="description">
        Spicy Manjaros chicken tossed with crisp
        salad leaves. Drizzled with our special honey mustard dressing.
    </p>
</div>

<div>
    <p class="price">
        £4.95
    </p>
</div>

<div>

    <p>
        <span>Side Salad</span>
    </p>
</div>

<div>
    <p class="price">
        £1.95
    </p>
</div>

<div>

    <h2>SIDES </h2>
    <p>
        <span>Steak Chips</span>
    </p>
</div>

<div>
    <p class="price">
        £2.00
    </p>
</div>

<p>
    <span>Sweet Potato Mash</span>
</p>
</div>

<div>
    <p class="price">
        £2.50
    </p>
</div>

<p>
    <span>Onion Rings</span>
</p>
</div>

<div>
    <p class="price">
        £2.50
    </p>
</div>

<h2> GRILLED
</h2>

<p>
    <span>Mini Mixed Grill</span>
</p>

<p class="description">
    2 chicken wings, 2 lamb chops,
    combined with 2 lamb 2 chicken skewers well marinated with house special Carribean spices,
    all cooked on a natural charcoal to perfection, served with steak chips and salad.
</p>
</div>
<div>
    <p class="price">
        £9.95
    </p>
</div>


<p>
    <span>Caribbean King Prawns</span>
</p>

<p class="description">
    Caribbean King Prawns sautéed with chilli garlic
    and lemon butter served with pilau rice.
</p>
</div>
<div>
    <p class="price">
        £9.95
    </p>
</div>


<p>
    <span>Lamb Charcoal Skewers</span>
</p>

<p class="description">
    Diced chunks of lamb marinated in our special spices,
    chargrilled with peppers and onions. Drizzled with Manjaros sauce.
    Served on warm pitta bread with steak chips and salad.
</p>
</div>
<div>
    <p class="price">
        £9.95
    </p>
</div>

<h2>
    CHICKEN
</h2>


<p>
    <span>1/4 Supreme Chicken</span>
</p>

<p class="description">
    Manjaros Supreme Chicken (Original, Smoked BBQ or Sizzler).
    Manjaros signature chicken dish is a twist of the Jamaican tender jerk chicken,
    well-marinated in special authentic Manjaros jerk seasoning,
    flame grilled on natural charcoal with a splash of the famous Manjaros sauce.
    Served with steak chips and salad.
</p>
</div>
<div>
    <p class="price">
        £5.95
    </p>
</div>

<p>
    <span>1/2 Supreme Chicken</span>
</p>

<p class="description">
    Manjaros Supreme Chicken (Original, Smoked BBQ or Sizzler).
    Manjaros signature chicken dish is a twist of the Jamaican tender jerk chicken,
    well-marinated in special authentic Manjaros jerk seasoning,
    flame grilled on natural charcoal with a splash of the famous Manjaros sauce.
    Served with steak chips and salad.
</p>
</div>
<div>
    <p class="price">
        £7.95
    </p>
</div>

<p>
    <span>Full Supreme Chicken</span>
</p>

<p class="description">
    Manjaros Supreme Chicken (Original, Smoked BBQ or Sizzler).
    Manjaros signature chicken dish is a twist of the Jamaican tender jerk chicken,
    well-marinated in special authentic Manjaros jerk seasoning,
    flame grilled on natural charcoal with a splash of the famous Manjaros sauce.
    Served with steak chips and salad.
</p>
</div>
<div>
    <p class="price">
        £11.95
    </p>
</div>

<h2>BURGERS </h2>

<p>
    <span>Chicken Breast Burger</span>
</p>

<p class="description">
    A tender fillet of marinated grilled chicken breast.
    Served with steak chips and salad.
</p>
</div>
<div>
    <p class="price">
        £6.95
    </p>

</div>

<p>
    <span>Gourmet Beef Burger</span>
</p>

<p class="description">
    A delicious chunky flame grilled beef burger marinated with our very own herbs and spices.
    Served with steak chips and salad.
</p>
</div>
<div>
    <p class="price">
        £7.45
    </p>
</div>

<h2>WRAPS </h2>


<p>
    <span>Chicken Cajun Wrap</span>
</p>

<p class="description">
    Boneless chicken cooked in delicious Cajun spices with a splash of lemon.
    Topped with crispy lettuce and cool mayo.
    Served in tortilla wrap with steak chips and salad.
</p>
</div>
<div>
    <p class="price">
        £6.95
    </p>
</div>

<p>
    <span>Lamb Cajun Wrap</span>
</p>

<p class="description">
    Lamb cooked with delicious Cajun spices with a with a splash of lemon.
    Topped with crispy lettuce and cool mayo.
    Served in tortilla wrap with steak chips and salad.
</p>
</div>
<div>
    <p class="price">
        £7.95
    </p>
</div>

<p>
    <span>Crispy Chicken Wrap</span>
</p>

<p class="description">
    Boneless southern fried crispy chicken
    served with iceberg lettuce and cool mayo.
</p>
</div>
<div>
    <p class="price">
        £7.95
    </p>
</div>

<h2>
    PIZZA
</h2>

<p>
    <span>Margherita</span>
</p>

<p class="description">
    Cheese and tomato.
</p>
</div>
<div>
    <p class="price">
        £6.95
    </p>
</div>

<p>
    <span>Chicken Supreme</span>
</p>

<p class="description">
    Chunks of juicy chicken with mushroom and sweetcorn.
</p>
</div>
<div>
    <p class="price">
        £8.95
    </p>
</div>

<p>
    <span> <span class = new>NEW!</span> Chicken Tandoori </span>
</p>

<p class="description">
    Chunks of tandoori chicken,
    green chillies, peppers, red onion.
</p>
</div>
<div>
    <p class="price">
        £8.95
    </p>
</div>

<h2> PLATTERS</h2>

<p>
    <span>Chicken Wings Platter</span>
</p>

<p class="description">
    16 grilled chicken wings marinated in Manjaros sauce.
    Served with chips and salad.
</p>
</div>
<div>
    <p class="price">
        £11.95
    </p>
</div>

<p>
    <span>Full Platter</span>
</p>

<p class="description">
    Manjaros speciality - whole chicken marinated in Manjaros famous sauce,
    flame grilled to perfection.
    Served with 4 sides of your choice.
</p>
</div>
<div>
    <p class="price">
        £18.95
    </p>
</div>

<p>
    <span>Mixed Grill Platter</span>
</p>

<p class="description">
    4 chicken wings, 4 marinated lamb chops,
    combined with 4 chicken and 4 lamb skewers well marinated with house-made
    Caribbean spices, all cooked on a natural charcoal grill to perfection.
    Served with steak chips and salad.


</p>
</div>
<div>
    <p class="price">
        £18.95
    </p>
</div>

<h2>
    COLD DRINKS
</h2>

<p>
    <span>Pepsi / Diet Pepsi
        / Fanta / 7up / Iron Bru
        / Vinto / Lilt
    </span>
</p>
<div>
    <p class="price">£2.50 </p>
</div>

<p>
    <span>J20
    </span>
</p>
<div>
    <p class="price">£2.50 </p>
</div>

<p>
    <span>Mango Lassi Jug
    </span>
</p>
<div>
    <p class="price">£6.95 </p>
</div>

<h2>
    MILKSHAKES
</h2>
<p>
    <span>Strawberry
    </span>
</p>
<div>
    <p class="price">£2.95 </p>
</div>

<p>
    <span>Ferrero Rocher
    </span>
</p>
<div>
    <p class="price">£3.95 </p>
</div>

<p>
    <span>Oreo
    </span>
</p>
<div>
    <p class="price">£3.95 </p>
</div>

<p>
    <span>Kinder Bueno
    </span>
</p>
<div>
    <p class="price">£3.95 </p>
</div>

<br>
<br>

<script type="text/javascript" src="../static/js/main.js" th:src="@{/js/main.js}">validateForm();</script>
<footer> &copy; Hana Rauf </footer>
</body>
</html>